/**
using Doublepicebs VARONITE design system.
**/


@import url('https://fonts.googleapis.com/css2?family=Consolas&display=swap');

:root {
  --a: wheat;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #D0D2DE;
  background-color: #0F0F0F;
  font-family: "Consolas",monospace;
}

#introduction_up {
  padding-left: 1.3rem;
  padding-top: 1rem;
}

#name {
  margin-top: 10px;
  padding-left: .9rem;
  color: white;
  text-shadow: 2px 2px 45px var(--a);
}

#introduction_down {
  padding-left: 1.3rem;
  margin-bottom: 3rem;
}

.content {
  padding: 1.5rem;
}

.button {
  outline: none;
  background-color: #292929;
  padding: .4rem;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
}

.button:hover {
  text-shadow: none;
  border-style: dashed;
  border-color: var(--wheat);
}

.tab {
  color: white;
  text-decoration: none;
}

.tab.active {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--a);
}

.tab.active:hover, .tab.active:focus {
  text-shadow: none;
}

.tab:not(.active):hover, .tab:not(.active):focus {
  text-shadow: none;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--a);
}

.card {
  background-color: #1F1F1F;
  margin-top: 1rem;
  padding: 1rem;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 50px;
  border-bottom-style: solid;
  border-bottom-color: var(--a);
  border-left-style: solid;
  border-left-color: var(--a);
}

.card > h1, .card > h2, .card > h3 {
  margin-top: 0;
}

.card > p:not(.date) {
  padding-top: .3rem;
}

.card > .date {
  padding-top: .8rem;
  color: #878787;
}

footer {
  background-color: black;
}


hr {
  border-color: #292929;
}

h1 {
  color: white;
}

h1,h2,h3 {
  margin-top: 2rem;
  margin-bottom: .2rem;
}

h4,h5,h6,h7 {
  font-weight: 300;
}

a {
  color: white;
  text-decoration-color: var(--a);
  text-decoration-style: dotted;
  /*text-shadow: 1px 1px 25px var(--a);*/
}

a:hover, a:focus {
  text-shadow: 1px 1px 10px var(--a);
  text-decoration-style: dashed;
}

a.card-link {
  text-decoration: none;
  text-shadow: none;
}

a.card-link:hover > .card, a.card-link:focus > .card {
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: var(--a);
  border-right-color: var(--a);
}

input {
  padding: .3rem;
  background-color: #292929;
  color: inherit;
  border-color: transparent;
  border-radius: 3px;
  outline-color: var(--a);
  outline-width: .2px;
  outline-offset: 3px;
  font-family: inherit;
}
