@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
  font-family: 'Manjari';
  margin: 0;
}

p {
  font-family: 'Roboto Slab', 'Manjari', serif;
}

p::-moz-selection {
  background-color: #e0e0e0;
  color: #2979ff;
}

p::selection {
  background-color: #e0e0e0;
  color: #2979ff;
}

@keyframes show {
  from {opacity: 0;}
  to {opacity: 1;}
}

#miniBrand {
  text-align: center;
  font-size: 22.5px;
  font-weight: bold;
  font-family: 'Roboto Slab', 'Manjari', serif;
  background: linear-gradient(90deg, #2979ff, #61adff);
}

#brand {
  animation-name: show;
  animation-duration: 2s;
}

.header {
  padding: 50px; /* some padding */
  text-align: center; /* center the text */
  background: linear-gradient(90deg, #2979ff, #61adff);
  color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  transition: background-color, color 0.5s;
}

/* Right-aligned link */
.navbar .right {
  float: right; /* Float a link to the right */
}

@keyframes nav {
  from {}
  to {background-color: #ddd;}
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  animation-name: nav;
  animation-duration: 0.5s;
  background-color: #ddd;
  color: black; /* Black text color */
}

#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.75;
  filter: alpha(opacity=50); /* To work with stupid IE */
}

.category{
  transform: skew(-15deg);
  background-color: #2978ff;
  color: white;
  width: fit-content;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto Slab';
  padding: 5px;
  margin: 5px;
}

.nope {
  opacity: 1; !important
  filter: blur(0px); !important
}

.blured {
  position: absolute;
  filter: blur(1px);
  background-color: red;
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}

.footer {
  margin-top: 25px;
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #ddd; /* Grey background */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

code, pre {
  margin: 5px;
  min-height: 100px;
  min-width: inherit;
  overflow: scroll;
  background-color: #E0E0E0;
  border-color: #424242;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

article titled:first-child {
  color: black;
  text-decoration: underline #2979ff;
  margin: 2px;
  margin-bottom: 0.1px;
  font-size: 25px;
  font-weight: bold;
}

article sub{
  color: darkgray;
  margin: 2px;
  margin-top: 0.1px;
  font-size: 20px;
}

article p::first-letter {
  font-size: 25px;
  font-weight: bold;
}

.bg {
  background-size: contain;
}

.center {
  text-align: center;
  margin: 10px;
}

.description {
  color: #424242;
}

/*BIG POST FORMAT*/
post p {
  color: #212121;
}

blockquote {
  -webkit-border: solid #2979ff;
  -moz-border: solid #2979ff;
  -o-border: solid #2979ff;
  border: solid #2979ff;
  border-radius: 10px;
  padding: 10px;
  padding-left: 0;
  text-align: center;
}